// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  border-radius: 10px;
  text-align: center;
  font-family: 'Gamja Flower', cursive;
  font-size: 23px;
}

.username {
  font-size: 20px;
}
.password {
  font-size: 20px;
}

.bench-bnb-header {
  font-size: 40px;
}
